<% layout('./layouts/boilerplate.ejs') %>
<div class="row">
    <div class="col-6">
        <div class="alert alert-danger">
            <h4><%= err.message %></h4>
            <p><%= err.stack %></p>
        </div>
    </div>
    <div  class="col-6 d-flex justify-content-center align-items-center">
        <img alt="charlie filibuster" src="https://i.imgur.com/ppnMoEc.gif" class="img-fluid" style="width: 400px; height: 400px"/>
    </div>
</div>